# Python
__pycache__
*.pyc
*.egg-info
dist

# Log
*.log
*.log.*
*.json
*.jsonl

# Data
!**/alpaca-data-conversation.json

# Editor
.idea
*.swp

# Other
.DS_Store
wandb
output

checkpoints
ckpts*

.ipynb_checkpoints
*.ipynb

# DevContainer
!.devcontainer/*

# Local data
local_data/CaseReportImgs/
local_data/VectorStore/
local_data/*.xlsx
local_data/ModelWeights
local_data/BLIP2/
local_data/data.zip

client/audio
client/image

# Pycharm run configuration
.run/

# Temporary folders and files
server/log
server/audio_saved
server/chat_history
